.navbar-comp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
.navbar-title h3{
    font-weight: 700;
    font-size: 24px;
    /* line-height: 32px; */
    color: #252B42;
}
.navbar-main p{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 10px;
}
.navbar-right img, .navbar-right p{
    margin: 10px;
}
.navbar-right p{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #23A6F0;
    text-align: center;
}